-- DropForeignKey
ALTER TABLE `debt_payments` DROP FOREIGN KEY `debt_payments_debt_id_fkey`;

-- AlterTable
ALTER TABLE `users` MODIFY `settings` longtext NULL;

-- AlterTable
ALTER TABLE `transactions` MODIFY `tags` longtext NULL,
    MODIFY `recurring_pattern` longtext NULL,
    MODIFY `metadata` longtext NULL;

-- AlterTable
ALTER TABLE `receipts` MODIFY `ocr_data` longtext NULL;

-- DropTable
DROP TABLE `debt_payments`;

-- CreateIndex
CREATE INDEX `transactions_created_by_fkey` ON `transactions`(`created_by` ASC);

-- CreateIndex
CREATE INDEX `monthly_checklist_category_id_fkey` ON `monthly_checklist`(`category_id` ASC);

